.containerConteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    width: 85%;
    height: 500px;
}

.containerConteudo .imgContainer {
    grid-column: 1;
    grid-row: span 3;
    width: 40%;
    justify-self: end;
    margin-right: 20px;
    position: static;
}

.containerConteudo .tituloContainer {
    grid-column: 2;
    align-self: flex-end;
    margin: 15px 0 15px 90px;
}

.containerConteudo p {
    grid-column: 2;
    font-size: 22px;
    margin-left: 90px;
    width: 80%;
}

.containerConteudo .divBotao {
    grid-column: 2;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 90px;
}



@media screen and (max-width:2250px) {

    
    .containerConteudo .imgContainer {
        width: 60%;
    }
    
}

@media screen and (max-width:1100px) {
    
    .containerConteudo {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 10% auto 10%;
        justify-items: center;
        height: auto;
        max-height: 100%;
        margin: 50px 0;
    }

    .containerConteudo .imgContainer {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        width: 90%;
        justify-self: center;
        margin: 0 0 50px 0;
    }

    .containerConteudo .tituloContainer {
        grid-column: 1;
        grid-row: 2;
        margin: 10px 0 0 0;
    }

    .containerConteudo p {
        grid-column: 1;
        grid-row: 3;
        margin: 10px;
        font-size: 18px;
        text-align: center;
    }

    .containerConteudo .divBotao {
        grid-row: 4;
        grid-column: 1;
        margin: 10px;
        align-self: center;

    }
}
